body {
    background-color: rgb(87, 255, 247);
}


/* herder part */

.header {
    display: flex;
    justify-content: space-around;
    height: 60px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    align-items: center;
}

.header ul li {
    display: inline;
    width: 100px;
    margin: auto 40px;
    text-align: center;
}

.header ul li a {
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.header ul {
    padding: 0px;
    margin: 0px;
}

.header ul li .active {
    color: rgb(6, 226, 215);
}

.header ul li a:hover {
    text-decoration: none;
    color: rgb(6, 226, 215);
}


/* body part */

.body {
    min-height: calc(100vh - 60px - 100px);
    padding: 50px;
    display: flex;
    align-items: center;
}

.left {
    /* float: left; */
    display: flex;
    justify-content: space-around;
}

.right {
    /* float: right; */
}

.avatar {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 2em;
}

.activity li {
    font-weight: 100;
}


/* footer part */

.footer {
    height: 100px;
    background-color: #333333;
    display: flex;
    align-items: center;
}

.footer div a {
    color: #fff;
    text-decoration: none;
}