.body {
    min-height: calc(100vh - 60px - 100px);
    padding: 50px;
    display: flex;
    align-items: center;
}

.left {
    /* float: left; */
    display: flex;
    justify-content: space-around;
}

.right {
    /* float: right; */
}

.avatar {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 2em;
}

.activity li {
    font-weight: 100;
}