body {
    background-color: rgb(87, 255, 247);
}

h1 {
    background-color: rgb(173, 51, 51);
}

.header ul li {
    display: inline;
    width: 100px;
    margin: auto 40px;
}

.header {}

.footer {
    margin-top: 30px;
}